---
// src/pages/topics/index.astro
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Topics">
  <main>
    <h1>Topics</h1>
    <p>Here you'll find all the different topics covered on our blog.</p>
  </main>
</Layout>